  h2{
    font-family: 'Acme', sans-serif;;
    font-size: 32px;
    font-weight: bold;
  }
  
  h5{
    font-size: 20px;  
  }
  .about-us .grid-container{
      display: grid;
      grid-template-columns: 50% 50%;
  }
  .about-us img{
      border: 2px solid black;
      padding: 16px;
      margin-top: 16px;
      width: 95%;
  }
  .grid-container-inside{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    color: #ffffff;
    text-align: center;
    justify-self: center;
    margin-top: 32px;
    margin-bottom: 32px;
  }
  .grid-item-one{
    background-color: #206491;
    padding: 8px;
    border-radius: 8px 0 0 8px;
    font-weight: 800;
  }
  .grid-item-july{
    background-color: #206491;
    height:120px;
    width: 8px;
    margin: 0 auto;
  }
  .grid-item-onejuly{
    background-color: #206491;
    padding: 16px;
    border-radius: 16px;
    height: auto;
    width: 80%;
    margin:0 auto;
  }
  .grid-item-two{
    background-color: #45AAB4;
    padding: 8px;
    font-weight: 800;
  }
  .grid-item-feb{
    background-color: #45AAB4;
    height: auto;
    width: 8px;
    margin: 0 auto;
  }
  .grid-item-twofeb{
    background-color: #45AAB4;
    padding: 16px;
    border-radius: 16px;
    height:auto;
    width: 80%;
    margin:0 auto;
  }
  .grid-item-three{
    background-color: #F9637C;
    padding: 8px;
    font-weight: 800;
  }
  .grid-item-june{
    background-color: #F9637C;
    height: auto;
    width: 8px;
    margin:0 auto;
  }
  .grid-item-threejune{
    background-color: #F9637C;
    padding: 16px;
    border-radius: 16px;
    height: auto;
    width: 80%;
    margin:0 auto;
  }
  .grid-item-four{
    background-color: #FE7A66;
    padding: 8px;
    font-weight: 800;
  }
  .grid-item-dec{
    background-color: #FE7A66;
    height: auto;
    width: 8px;
    margin:0 auto;
  }
  .grid-item-fourdec{
    background-color: #FE7A66;
    padding: 16px;
    border-radius: 16px;
    height: auto;
    width: 80%;
    margin:0 auto;
  }
  .grid-item-five{
    background-color:#FBB45C;
    padding: 8px;
    border-radius:0 8px 8px 0;
    font-weight: 800;
  }
  .grid-item-sept{
    background-color:#FBB45C;
    height: auto;
    width: 8px;
    margin:0 auto;
  }
  .grid-item-fivesept{
    background-color: #FBB45C;
    padding: 16px;
    border-radius: 16px;
    width: 80%;
    margin:0 auto;
    height:0 auto;
  }
  .about-us{
      margin: 16px;
  }
  @media(max-width:907px){
    .grid-container-inside{
      font-size: 14px;
    }
    .grid-item-onejuly{
      padding: 8px;
    }
    .grid-item-twofeb{
      padding: 8px;
    }
    .grid-item-threejune{
        padding: 8px;
    }
    .grid-item-fourdec{
        padding: 8px;
    }
    .grid-item-fivesept{
        padding: 8px;
    }
}
/* .grid-container-inside-vertical{
  display: none;
} */
@media(max-width:767px){
  .grid-container-inside{
    display: none;
  }
}
@media(max-width:500px){
  .grid-container-inside-vertical{
    margin-right: 16px;
    margin-left: -16px;
  }
  .about-us .grid-container{
    display: grid;
    grid-template-columns: 100% ;
  }
}
@media(max-width:370px){
  .grid-container-inside-vertical{
    margin-left: -24px;
    margin-right: 8px;
  }
}
@media(max-width:330px){
  .grid-container-inside-vertical{
    margin-left: -48px;
    margin-right: 8px;
  }
}

.vertical{
  margin:24px;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
#one{
  background-color: #206491;
  padding: 8px;
  text-align: center;
  border-radius: 8px 8px 0 0;
}
#july{
  background-color: #206491;
  height: 8px;
  margin: auto;
}
#onejuly{
  background-color: #206491;
  height: auto;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 8px;
}
#two{
  background-color: #45AAB4;
  padding: 8px;
  text-align: center;
}
#feb{
  background-color: #45AAB4;
  height: 8px;
  margin: auto;
}
#twofeb{
  background-color: #45AAB4;
  height: auto;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 8px;
}
#three{
  background-color:#F9637C;
  padding: 8px;
  text-align: center;
}
#june{
  background-color:#F9637C;
  height: 8px;
  margin: auto;
}
#threejune{
  background-color:#F9637C;
  height: auto;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 8px;
}
#four{
  background-color: #FE7A66;
  padding: 8px;
  text-align: center;
}
#dec{
  background-color:  #FE7A66;
  height: 8px;
  margin: auto;
}
#fourdec{
  background-color:  #FE7A66;
  height: auto;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 8px;
}
#five{
  background-color: #FBB45C;
  padding: 8px;
  text-align: center;
  border-radius:0 0 8px 8px ;
}
#sept{
  background-color: #FBB45C;
  height: 8px;
  margin: auto;
}
#fivesept{
  background-color: #FBB45C;
  height: auto;
  padding: 8px;
  border-radius: 16px;
  margin-bottom: 8px;
}
#darkblue-span{
  font-weight: 800;
  margin-top: 16px;
}
#lightblue-span{
  font-weight: 800;
  margin-top: 16px;
}
#pink-span{
  font-weight: 800;
  margin-top: 16px;
}
#orange-span{
  font-weight: 800;
  margin-top: 16px;
}
#yellow-span{
  font-weight: 800;
  margin-top: 16px;
}
@media(min-width:768px){
  .vertical{
    display: none;
  }
}
