.add-add{
    width: 50%;
    margin: auto;
    border: solid 2px #f1920c;
    border-radius: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 16px;
}

.add-address-button{
    background-color: #f1920c;
    color: white;
    border: #f1920c;
    border-radius: 8px;
}

@media(max-width:576px){
    .add-add{
        width:90%;
    }
    .add-address-header{
        display: none;
    }
}
