.acc-grid .address a{
    color: #f1920c;
}

.address-menu{
    width: 70%;
    margin: auto;
}


.add-add-btn{
    border: solid 1px #f1920c;
    border-radius: 8px;
    background-color: #f1920c;
    color: white;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 2px;
    padding-top: 2px;
}

@media(max-width:576px){
    .menu{
        display: none;
    }

    .acc-grid{
        grid-template-columns: auto;
    }
    .my-account .my-acc-header{
        display: none;
    }
    .menu-description{
        display: block;
    }

    .address-menu{
        width: 100%;
    }
}
