body{
    font-family: open sans;
    font-size: 16px;
}
ul.breadcrumb {
    padding-top: 8px;
    padding-right: 16px;
    margin: 0;
    background-color: #E6E6E6;
    justify-content: end;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 16px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #666666;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

/* The My Cart Section  */
.checkout-page-section{
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 16px;
}

/* Cart List Header  */
.checkout-page-section .cart-header{
    border-bottom: 1px solid #888888;
    font-family: acme;
    padding-bottom: 8px;
}

.checkout-page-section .update-cart-btn{
    background-color: #f1920c;
    color: white;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
}

.checkout-page-section .cart-header .update-cart-btn:hover{
    color: white;
}

.checkout-page-section .cart-header .update-cart-btn:focus{
    box-shadow: none;
}

.checkout-page-section .cart-item-content{
    border-bottom: 1px solid #888888;
}

/* Cart List  */
/* Cart List Product Info  */
.checkout-page-section .cart-list-item{
    border-radius: 8px;
    box-shadow:-4px 4px 3px rgba(10,14,88,.2), 1px -1px 6px rgba(10,14,88,.1);
    padding: 8px 8px 4px 8px;
    margin-top: 16px;
}

.checkout-page-section .cart-item-img{
    padding-left: 8px;
}

.checkout-page-section .cart-item-info{
    padding: 36px 0 36px 16px;
}

.checkout-page-section .cart-item-info h3{
    font-family: acme;
}

.product-quantity .btn{
    background-color: #f1920c;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 12px;
}
.cart-item-info .product-quantity .btn:hover{
    color: white;
}
.cart-item-info .product-quantity .btn:focus{
    box-shadow: none;
}

.product-quantity .form-control {
    width: 20%;
    display: inline-block;
    height: 40px;
    border: none;
    text-align: center;
}

/* Cart Item Pricing  */
.checkout-page-section .cart-item-pricing{
    padding-top: 36px;
    padding-left: 8px;
}

.checkout-page-section .cart-item-pricing .cut-price{
    color: #888888;
    text-decoration: line-through;
}

.checkout-page-section .cart-item-pricing .discount{
    color: #f1920c;
    font-weight: bold;
}

/* Cart Item Closure (Remove and Move to Whishlist button and Item Amount) */
.checkout-page-section .cart-item-closure{
    padding-top: 8px;
}

.checkout-page-section .cart-item-closure .remove-btn{
    background-color: white;
    color: #f1920c;
    border: 2px solid #f1920c;
    font-size: 20px;
    padding: 2px 8px;
    border-radius: 8px;
}

.checkout-page-section .cart-item-closure .remove-btn:focus{
    box-shadow: none;
}

.checkout-page-section .cart-item-closure .remove-btn:hover{
    background-color: white;
    color: #f1920c;
}

.checkout-page-section .cart-item-closure .mtw-btn{
    background-color: #f1920c;
    border: none;
    font-size: 20px;
    padding: 4px 12px;
    border-radius: 8px;
    margin-left: 16px;
}

.checkout-page-section .cart-item-closure .mtw-btn:hover{
    color: white;
}

.checkout-page-section .cart-item-closure .mtw-btn:focus{
    box-shadow: none;
}

.checkout-page-section .cart-item-closure .mtw-btn .fa-heart{
    padding-left: 6px;
}

.checkout-page-section .cart-item-amount{
    padding-left: 8px;
    color: #0A0E58;
}

.checkout-page-section .cart-item-amount h3{
    margin-bottom: 2px;
}
/* End of Cart Item List  */
/* Cart List Closure(Subtotal Amount and add MOre from Wishlist btn)  */
.checkout-page-section .cart-list-closure{
    margin-top: 16px;
    border-top: 1px solid #888888;
    padding-top: 8px;
    border-bottom: 1px solid #888888;
    padding-bottom: 8px;
}

.checkout-page-section .cart-list-closure .add-from-wl-btn{
    height: 40px;
    background-color: #f1920c;
    color: white;
    padding: 4px 6px;
    font-family: acme;
    font-size: 24px;
    border-radius: 8px;
    border: none;
}
.checkout-page-section .cart-list-closure .add-from-wl-btn:hover{
    color: white;
}
.checkout-page-section .cart-list-closure .add-from-wl-btn:focus{
    box-shadow: none;
}

.checkout-page-section .cart-list-closure .cart-subtotal{
    background-color: white;
    color: #f1920c;
    border: 2px solid #f1920c;
    font-family: acme;
    font-size: 20px;
    padding: 4px 4px;
    border-radius: 8px;
}

/* End of My Cart List  */
/* Checkout Pricing dets  */
.checkout-page-section .cart-pricing-dets{
    border-radius: 16px;
    margin-left: 16px;
    box-shadow:-4px 4px 3px rgba(10,14,88,.2), 1px -1px 6px rgba(10,14,88,.1);
    padding-bottom: 8px;
    /* width: 100%; */
    /* position: fixed ; */
}
/* Checkout Pricing Header  */
.checkout-page-section .cart-pricing-dets .pricing-header{
    background-color: #0A0E58;
    color: white;
    padding: 2px 0;
    text-align: center;
    border-radius: 16px 16px 0 0;
}
/* Checkout Pricing Details 01  */
.checkout-page-section .cart-pricing-dets .pricing-dets-01{
    padding: 8px 8px 0px 8px;
    border-bottom: 1px solid #888888;
}

.checkout-page-section .cart-pricing-dets .discount{
    color: #f1920c;
}
/* Checkout Pricing Details 02  */
.checkout-page-section .cart-pricing-dets .pricing-dets-02{
    padding: 8px 8px 0px 8px;
    border-bottom: 1px solid #888888;
}

.checkout-page-section .cart-pricing-dets .cpn-apply-btn{
    background-color: #f1920c;
    padding: 3px 12px;
    border: none;
    border-radius: 8px;
}

.checkout-page-section .cart-pricing-dets .cpn-apply-btn:hover{
    color: white;
}

.checkout-page-section .cart-pricing-dets .cpn-apply-btn:focus{
    box-shadow: none;
}

.checkout-page-section .cart-pricing-dets .coupon-input{
    border: 1px solid #888888;
    border-radius: 8px;
}

.checkout-page-section .cart-pricing-dets .cpn-discount-pricing{
    padding-top: 8px;
}
/* Checkout Pricing Details 03  */
.checkout-page-section .cart-pricing-dets .pricing-dets-03{
    padding: 8px 8px 8px 8px;
    border-bottom: 1px solid #888888;
}

.checkout-page-section .cart-pricing-dets .location-input{
    border: 1px solid #888888;
    border-radius: 8px;
    height: 32px;
}

.checkout-page-section .cart-pricing-dets .location-btn{
    background-color: #f1920c;
    color: white;
    border: none;
    height: 32px;
    padding: 3px 12px;
    border-radius: 8px;
    margin-bottom: 4px;
}

.checkout-page-section .cart-pricing-dets .location-btn:hover{
    color: white;
}

.checkout-page-section .cart-pricing-dets .location-btn:focus{
    box-shadow: none;
}

.checkout-page-section .cart-pricing-dets .delivery-charges{
    margin-bottom: 0;
    margin-top: 6px;
}
/* Checkout Pricing Details 04  */
.checkout-page-section .cart-pricing-dets .pricing-dets-closure{
    padding: 8px 8px 0px 8px;
    font-family: acme;
}

.checkout-page-section .cart-pricing-dets .checkout-btn{
    background-color: #f1920c;
    color: white;
    border: none;
    width: 100%;
    font-size: 24px;
    padding: 2px 0;
    border-radius: 8px;
}

.checkout-page-section .cart-pricing-dets .checkout-btn:hover{
    color: white;
}

.checkout-page-section .cart-pricing-dets .checkout-btn:focus{
    box-shadow: none;
}
/* End of Pricing Details  */

/* Adding Responsiveness  */
@media(max-width:1200px){
    .checkout-page-section .cart-item-info{
        padding: 20px 0 20px 16px;
    }
    .checkout-page-section .cart-item-info h5{
        font-size: 16px;
    }  
    .checkout-page-section .cart-item-info h3{
        font-size: 20px;
    }
    .checkout-page-section .cart-item-pricing h3{
        font-size: 24px;
    }
    .checkout-page-section .cart-item-pricing h5{
        font-size: 16px;
    }
    .checkout-page-section .cart-item-closure .remove-btn{
        font-size: 16px;
    }
    .checkout-page-section .cart-item-closure .mtw-btn{
        font-size: 16px;
        margin-left: 12px;
    }
    .checkout-page-section .cart-item-closure h3{
        font-size: 24px;
    }
    .checkout-page-section .cart-item-closure .cart-item-amount{
        font-size: 24px;
    }
    .product-quantity .btn{
        font-size: 16px;
        padding: 2px 8px;
    }
    .product-quantity .form-control{
        height: 32px;
        font-size: 16px;
        width: 16%;
    }
    .checkout-page-section .cart-item-pricing .discount{
        font-size: 12px;
    }
    .checkout-page-section .cart-list-closure .add-from-wl-btn{
        font-size: 16px;
    }
    .checkout-page-section .cart-list-closure .cart-subtotal{
        height: 32px;
        font-size: 20;
    }
    .checkout-page-section .location-input{
        width: 150px;
    }
}


@media(max-width:992px){
    .checkout-page-section{
        padding: 0px 20px;
    }
    .checkout-page-section .cart-item-info{
        padding: 12px 0 12px 16px;
    }
    .checkout-page-section .cart-item-info h5{
        font-size: 12px;
    }  
    .checkout-page-section .cart-item-info h3{
        font-size: 16px;
    }
    .checkout-page-section .cart-item-pricing{
        padding-top: 24px;
    }
    .checkout-page-section .cart-item-pricing h3{
        font-size: 20px;
    }
    .checkout-page-section .cart-item-pricing h5{
        font-size: 12px;
    }
    .checkout-page-section .cart-item-closure .remove-btn{
        font-size: 12px;
    }
    .checkout-page-section .cart-item-closure .mtw-btn{
        font-size: 12px;
        margin-left: 8px;
    }
    .checkout-page-section  .cart-item-amount h3{
        font-size: 20px;
    }
    .checkout-page-section .cart-item-closure .amt-text{
        font-size: 16px;
        padding-top: 2px;
    }
    .product-quantity .btn{
        font-size: 12px;
    }
    .product-quantity .form-control{
        height: 32px;
        font-size: 12px;
    }.checkout-page-section .cart-list-closure .add-from-wl-btn{
        font-size: 14px;
    }
    .checkout-page-section .cart-list-closure .cart-subtotal{
        font-size: 18;
        padding: 0 4px 4px 4px;
    }
    .checkout-page-section .location-input{
        width: 110px;
    }
    .checkout-page-section .cart-pricing-dets .location-btn{
        padding: 3px 6px;
    }
    .checkout-page-section .coupon-input{
        width: 150px;
    }
}

@media(min-width:768px){
    .checkout-page-section .cart-pricing-dets{
        margin: 0 0 16px 12px;
    }
}

@media(max-width:767px){
    .checkout-page-section .cart-item-info h5{
        font-size: 14px;
    }  
    .checkout-page-section .cart-item-info h3{
        font-size: 20px;
    }
    .checkout-page-section .cart-pricing-dets{
        margin: 8px 0 16px 0;
    }
    .checkout-page-section .cart-list-closure .add-from-wl-btn{
        width: 100%;
        padding: 0 4px;
        border-radius: 4px;
        height: 32px;
        font-size: 20px;
    }
    .checkout-page-section .cart-list-closure .cart-subtotal{
        text-align: center;
        margin-top: 4px;
        font-size: 20px;
    }
}

@media(min-width:577px){
    .remove-btn-sm{
        display: none;
    }
}

@media(max-width:576px){
    .my-acc-header{
        display: none;
    }
    .checkout-page-section{
        padding: 0px 15px;
    }
    .checkout-page-section .cart-list-item{
        border-radius: 8px;
        margin-top: 8px;
    }
    .checkout-page-section .cart-header{
        padding-bottom: 0;
    }
    .checkout-page-section .cart-header h3{
        font-size: 20px;
        margin-bottom: 0;
    }
    .checkout-page-section .cart-header .update-cart-btn{
        font-size: 16px;
        padding: 2px 8px;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .checkout-page-section .cart-item-info{
        padding: 6px 0 6px 8px;
    }
    .checkout-page-section .cart-item-info h5{
        margin-bottom: 4px;
        font-size: 12px;
    }  
    .checkout-page-section .cart-item-info h3{
        font-size: 16px;
        margin-bottom: 4px;
    }
    .checkout-page-section .product-quantity input{
        padding: 6px 4px;
    }
    .checkout-page-section .cart-item-pricing{
        padding-top: 12px;
    }
    .checkout-page-section .cart-item-pricing h3{
        font-size: 16px;
    }
    .checkout-page-section .cart-item-pricing h5{
        font-size: 12px;
        margin: 2px 0;
    }
    .checkout-page-section .cart-item-pricing .discount{
        font-size: 12px;
    }
    .checkout-page-section .remove-btn{
        display: none;
    }
    .checkout-page-section .remove-btn-sm{
        background-color: white;
        color: #f1920c;
        border: 2px solid #f1920c;
        font-size: 12px;
        padding: 2px 8px;
        border-radius: 4px;
        padding: 2px 4px;
    }
    .checkout-page-section .cart-item-closure .remove-btn-sm:focus{
        background-color: white;
        color: #f1920c;
        box-shadow: none;
    }
    .checkout-page-section .cart-item-closure .mtw-btn{
        border-radius: 4px;
        margin-left: 2px;
        padding: 4px 6px;
    }
    .checkout-page-section .cart-item-closure h3{
        font-size: 16px;
    }
    .checkout-page-section .cart-item-amount {
        border-radius: 4px;
    }
    .checkout-page-section .cart-item-amount h3{
        margin-bottom: 0;
    }
    .checkout-page-section .location-input{
        width: 100px;
    }
    .checkout-page-section .cart-list-closure{
        border-bottom: 1px solid #888888;
        margin-top: 8px;
    }
    .checkout-page-section .cart-list-closure .add-from-wl-btn{
        font-size: 16px;
    }
    .checkout-page-section .cart-list-closure .cart-subtotal{
        font-size: 16px;
        padding-top: 3px;
        margin-top: 4px;
        height: 32px;
        border-radius: 4px;
        text-align: center;
    }
    .checkout-page-section  .cart-item-amount{
        padding-top: 2px;
    }
    .checkout-page-section .cart-pricing-dets{
        margin: 8px 0;
        border-radius: 8px;
    }
    .checkout-page-section .cart-pricing-dets .pricing-header{
        border-radius: 8px 8px 0 0;
    }
    .checkout-page-section .cart-pricing-dets .coupon-input{
        border-radius: 4px;
    }
    .checkout-page-section .cart-pricing-dets .cpn-apply-btn{
        border-radius: 4px;
    }
    .checkout-page-section .cart-pricing-dets .location-input{
        border-radius: 4px;
    }
    .checkout-page-section .cart-pricing-dets .location-btn{
        border-radius: 4px;
    }
    .checkout-page-section .cart-pricing-dets .checkout-btn{
        height: 32px;
        padding-top: 0;
        border-radius: 4px;
    }
}

@media(max-width:340px){
    .checkout-page-section .cart-item-closure .heart-remove{
        display: none;
    }
}
