.popup-btn button{
  padding: 0;
}

.popup-btn button:focus{
  box-shadow: none;
}

.popup-icon{
  text-align: right;
  position: fixed;
  bottom: 565px;
  right: 15px;
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0;
}

.popup .modal-content{
  border-radius: 20px;
  border: 2px solid white;
  font-family: open sans;
}

.popup .modal-header{
  background-color: #f1920c;
  color: white;
  
    border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.popup .modal-header h5{
  font-size: 20px;
}

.popup .modal-header .close{
  padding: 0 4px 0 0;
  opacity: 1;
  text-shadow: none;
  color: white;
}

.popup .modal-header button:focus{
  outline: none;
}

.popup .modal-body{
  padding: 8px 16px 8px 16px;
}

.popup .modal-body label{
  margin-bottom: 2px;
  margin-top: 8px;
  font-weight: bold;
}

.popup .modal-body .contact-info{
  border-radius: 8px;
  border: 1.25px solid black;
  width: 100%;
  padding-left: 8px;
}

.popup .modal-body .accept-terms{
  padding-top: 12px;
  padding-bottom: 12px;
}

.popup .req .btn-primary{
  background-color: #f1920c;
  border: none;
  width: 100%;
  border-radius: 10px;
  font-weight: 600;

}
  
.popup .popup-modal-footer{
  background-color: #0A0E58;
  border-radius: 0px 0px 20px 20px;
  color: white;
  text-align: center;
  font-weight: 600;
}

.popup .popup-modal-footer img{
  width: 32px;
  height: 32px;
}
 .popup .popup-modal-footer .footer-content{
   padding: 16px 4px;
 }

#Whatsapp-Modal .modal-body{
  color: black;
}

@media(max-width:576px){
  .popup-btn{
    display: none;
  }
}