body{
    font-family: open sans;
}

/* Comtact Us Section  */
.contact-us-section{
    margin: 8px 24px 240px 24px;
}
/* Contact Us Header  */
.contact-us-section .contact-us-header{
    font-family: acme;
    color: #0A0E58;
    text-align: center;
    text-shadow: -2px 2px 3px rgba(241, 146, 12, 0.5);
}
.contact-us-section .contact-us-header h1{
    font-size: 48px;
}
/* Store G-Map  */
.contact-us-section .store-map{
    margin-right: 8px;
    border: 2px solid #0A0E58;
    box-shadow:-4px 4px 3px rgba(10,14,88,.3), 1px -1px 6px rgba(10,14,88,.2);
}
/* Store Information  */
.contact-us-section .store-info{
    margin-left: 8px;
}
.contact-us-section .store-info h3{
    font-family: acme;
    color: #0A0E58;
    margin-bottom: 2px;
}
/* Store Address  */
.contact-us-section .store-address svg{
    margin-bottom: 16px;
}
/* Store Contact Info  */
.contact-us-section .contact-info{
    padding-top: 32px;
}
.contact-us-section .contact-info h3{
    margin-bottom: 16px;
}
.contact-us-section .contact-info h6{
    margin: 4px 0 0 0 ;
}
.contact-us-section .contact-info a{
    padding-right: 4px;
}
.contact-us-section .contact-highlight{
    color: #f1920c; 
    font-weight: bold;
}
.contact-us-section .social-media{
    padding-top: 32px;
}
.contact-us-section .social-media h3{
    margin-bottom: 16px;
}
.contact-us-section .social-media a{
    padding-right: 16px;
}
.contact-us-section .modal-content{
    border: none;
}
.contact-us-section .modal-header{
    background-color: #0A0E58;
    color: #ffffff;
    border: 0;
    border-radius: 16px 16px 0 0;
}
.contact-us-section .modal-body{
    background-color: #F1920C;
    color: #ffffff;
    font-weight: bold;
    border-radius: 0 0 16px 16px;
}
.contact-us-section .modal-dialog{
    border: 5px solid #ffffff;
    border-radius: 16px;
  }

/* Responsiveness */
@media(max-width:767px){
    .contact-us-section{
        margin: 16px 16px 32px 16px;
    }
    .contact-us-section .store-info{
        padding-top: 20px;
    }
    .contact-us-section .store-map{
        margin-right: 0;
    }
    .contact-us-section .store-info{
        margin-left: 0;
    }
}
