.edit{
    width: 60%;
    margin: auto;
}

.submit-changes{
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #f1920c;
    color: white;
    border: #f1920c;
    border-radius: 8px;
}
@media(max-width:576px){
    .edit-profile .edit-profile-header{
        display: none;
    }
    .edit{
        width: 100%;
    }
}