body{
    font-family: "Open Sans",sans-serif;
    
}
.faq-section .heading{
    display: block;
    line-height: 1.4em;
    font-weight: 400;
    margin: 0;
    color:black;
    font-family: 'Acme', sans-serif;
    padding-left: 20px;
    margin-top: 8px;
}

.faq-section p{
     font-size: 21px;
     opacity: 0.75;
 }
.faq-section .btn{
    transition: none;
    background-color: transparent;
    border: transparent;
    font-size: 21px;
}
.faq-section .btn:focus{
    box-shadow: none;
}

.faq-section .btn-link{
    text-align: left;
    background-color: transparent;
    color: black;
}
.faq-section .btn-link:hover{
    color: black;
    border: transparent;
}
.faq-section h1{
    font-size: 32px;
}
.faq-section .card-body{
    border: 0px;
}
.faq-section .collapse{
    padding-left: 16px;
}
