
body{
  font-family: 'Open Sans', sans-serif;
}

/* MY ACCOUNT SECTION */

/* breadcrumbs */
ul.breadcrumb {
  padding-top: 4px;
  padding-right: 16px;
  list-style: none;
  margin: 0;
  background-color: #E6E6E6;
}

ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #666666;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

@media (max-width:576px) {
  .breadcrumb {
    display: none;
  }
}

/* breadcrumbs end here */

.back{
  font-size: 20px;
  color: #f1920c;
}

@media(min-width:576px){
  .back{
      display: none;
  }
}



.my-acc{
    background-color: #E6E6E6;
    padding-top: 8px;
}


.acc-grid{
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 16px;
}


@media(max-width:576px){
  .menu-description{
    display: none;
  }
  .acc-grid{
    grid-template-columns: auto;
  }
}


.name{
  text-align: center;
  color: #0a0e58;
  border-bottom: 1px solid black;
  font-size: 24px;
}

.my-profile-1{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  text-align: center;
}

.my-profile{
  border-bottom: 1px solid black;
}

.address-1{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  text-align: center;
}

.address{
  border-bottom: 1px solid black;
}


.my-orders-1{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  text-align: center;
}

.my-orders{
  border-bottom: 1px solid black;
}

.wishlist-1{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  text-align: center;
}

.wishlist{
  border-bottom: 1px solid black;
}

.logout-1{
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 20px;
  text-align: center;
}

.menu-link{
  color: #0a0e58;
}

a .menu-link:hover{
  text-decoration:none;
}

.acc-grid .my-profile a:hover{
  color: #f1920c;
  text-decoration: none;
}

.acc-grid .address a:hover{
  text-decoration: none;
  color: #f1920c;
}

.acc-grid .my-orders a:hover{
  text-decoration: none;
  color: #f1920c;
}

.acc-grid .wishlist a:hover{
  text-decoration: none;
  color: #f1920c;
}
.acc-grid .logout a:hover{
  text-decoration: none;
  color: #f1920c;
}