  /* MY ACCOUNT SECTION */
  
  /* breadcrumbs */
  ul.breadcrumb {
    padding-top: 4px;
    padding-right: 16px;
    list-style: none;
    margin: 0;
    background-color: #E6E6E6;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 16px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #666666;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .breadcrumb {
      display: none;
    }

    .my-account .acc-grid{
      grid-template-columns: 100%;
    }

  }
  
  /* breadcrumbs end here */
  
  .back{
    font-size: 20px;
    color: #f1920c;
  }
  
  @media(min-width:576px){
    .back{
        display: none;
    }
  }

.my-acc{
      background-color: #E6E6E6;
      padding-top: 8px;
  }
  
.name{
  text-align: center;
  margin-top: 16px;
  font-size: 32px;
  color: #0a0e58;
  margin-bottom: 48px;
}

.logout{
  text-align: center;
  margin-top: 112px ;
  margin-bottom: 16px;
  font-size: 32px;
}

.acc-grid{
  display: grid;
  grid-template-columns: 30% 30%;
  margin: 16px;
  text-align: center;
  vertical-align: middle; 
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  justify-content: center;
}

.my-profile {
  border: solid #0a0e58 1px;
  border-radius: 8px;
  font-size: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.address {
  border: solid black 1px;
  border-radius: 8px;
  font-size: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
} 

.my-orders {
  border: solid black 1px;
  border-radius: 8px;
  font-size: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
} 

.wishlist {
  border: solid black 1px;
  border-radius: 8px;
  font-size: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu-link{
  color: #0a0e58;
}

a.menu-link:hover{
  text-decoration:none;
}

.my-profile-1:hover{
  color: #f1920c;
}

.address-1:hover{
  color: #f1920c;
}

.my-orders-1:hover{
  color: #f1920c;
}

.wishlist-1:hover{
  color: #f1920c;
}

.logout-1:hover{
  color: #f1920c;
}

@media(max-width:576px){
  .logout{
    margin-top: 32px;
  }
  .my-account .my-acc-header{
    display: none;
  }
}

