.acc-grid .my-orders a{
  color: #f1920c;
}

.menu-description{
    margin-left: 32px;
  }

.order{
    border-radius: 8px;
    box-shadow:-4px 4px 3px rgba(10,14,88,.2), 1px -1px 6px rgba(10,14,88,.1);
    padding: 0 0 16px 0;
    margin-top: 16px;
}
.link-order{
  color: #0a0e58;
  text-decoration: underline;
}


.order-images{
  padding-left: 16px;
}

.order a{
  color: #0a0e58;
}

.order a:hover{
  text-decoration: none;
  color: #f1920c;
}

.order-details{
  padding-left: 16px;
  padding-right: 16px;
  background-color: #e6e6e6;
  font-size: 20px;
  border-radius: 8px 8px 0 0;
}

.order-details a{
  text-align: right;
}

.order-grid{
  display: grid;
  grid-template-columns: 60% 40%;
  padding: 16px;
}

.order-img{
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
  
.order-buttons{
  text-align: right;
}

.btn-order{
  background-color: #f1920c;
  color: white;
  border: #f1920c;
  border-radius: 4px;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
}
.btn-order:focus{
  box-shadow: none;
  outline: none;
}


@media(min-width:577px){
  .order-buttons-mobile{
    display: none;
  }
}

@media(max-width:576px){
  .menu{
      display: none;
  }
  .acc-grid{
      grid-template-columns: auto;
  }
  .my-account .my-acc-header{
    display: none;
  }
  .menu-description{
      display: block;
      margin-left: 0;
  }
  .profile-grid{
      width: 100%;
  }
  .order-grid{
    grid-template-columns: 100%;
    padding: 8px;
  }
  .order-details{
  border-radius: 4px 4px 0 0;
  }
  .order-images{
    padding-left: 8px;
  }
  .order-buttons{
    display: none;
  }
  .order-buttons-mobile{
    padding: 8px;
    font-size: 12px;
  }
  .order{
    padding-bottom: 0;
    border-radius: 4px;
  }
}

@media(max-width:992px){
  .order-details{
    font-size: 16px;
  }
}

@media(max-width:768px){
  .order-details{
    font-size: 14px;
  }
}
