.profile{
    font-size: 20px;
}

.acc-grid .my-profile a{
    color: #f1920c;
}

.profile-grid{
    padding: 32px;
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 32px;
    width: 50%;
    border: 2px solid #f1920c;
    border-radius: 16px;
    margin: auto;
    font-size: 18px;
}

.edit-button{
    border: solid 1px #f1920c;
    border-radius: 8px;
    background-color: #f1920c;
    color: white;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.profile-grid p{
    margin: 0;
    font-weight: bold;
    color: #0A0E58;
}



@media(max-width:1200px){
    .profile-grid{
        width: 70%;
        padding: 24px;
        grid-row-gap: 24px;
    }
}

@media(max-width:768px){
    .profile-grid{
        width: 80%;
        padding: 20px;
        grid-row-gap: 16px;
    }
}

@media(max-width:576px){
    .menu{
        display: none;
    }

    .acc-grid{
        grid-template-columns: auto;
    }
    .my-account .my-acc-header{
        display: none;
    }
    .menu-description{
        display: block;
    }

    .profile-grid{
        width: 100%;
    }
}

