.acc-grid .wishlist a{
  color: #f1920c;
}

/* Wishlist Begins Here  */
.wishlist-section{
margin-left: 16px;
}
/* Cart List Header  */
.wishlist-section .wishlist-header{
font-family: acme;
padding-bottom: 8px;
text-align: center;
margin-bottom: 0;
}

/* Cart List  */
/* Cart List Product Info  */
.wishlist-section .wishlist-item{
border-radius: 8px;
box-shadow:-4px 4px 3px rgba(10,14,88,.2), 1px -1px 6px rgba(10,14,88,.1);
padding: 8px 8px 4px 8px;
margin-top: 16px;
}

.wishlist-section .wl-item-img{
padding-left: 8px;
}

.wishlist-section .wishlist-item .wl-item-info h3{
font-family: acme;
color: black;
}

.wishlist-section .wishlist-item .wl-item-info a:hover{
text-decoration: none;
}

.wishlist-section .wl-item-info{
padding: 36px 0 36px 16px;
}

/* Cart Item Pricing  */
.wishlist-section .wl-item-pricing{
  font-size: 20px;
}

.wishlist-section .wl-item-pricing .cut-price{
color: #888888;
text-decoration: line-through;
}

.wishlist-section .wl-item-pricing .discount{
color: #f1920c;
font-weight: bold;
}

/* Cart Item Closure (Remove and Move to Whishlist button and Item Amount) */
.wishlist-section .wl-item-btns .remove-btn{
background-color: white;
color: #f1920c;
border: 2px solid #f1920c;
font-size: 20px;
padding: 2px 8px;
}

.wishlist-section .wl-item-btns .remove-btn:hover{
background-color: white;
color: #f1920c;
}

.wishlist-section .wl-item-btns .remove-btn:focus{
box-shadow: none;
}

.wishlist-section .wl-item-btns .mtc-btn{
background-color: #f1920c;
border: none;
font-size: 20px;
padding: 4px 12px;
margin-top: 16px;
}
.wishlist-section .wl-item-btns .mtc-btn:hover{
background-color: #f1920c;
color: white;
}
.wishlist-section .wl-item-btns .mtc-btn:focus{
box-shadow: none;
}

/* Responsiveness */

@media(max-width:1200px){
  .wishlist-section .wl-item-info{
    padding: 20px 0 20px 16px;
  }
  .wishlist-section .wl-item-info h5{
    font-size: 16px;
  }  
  .wishlist-section .wl-item-info h4{
    font-size: 20px;
  }
  .wishlist-section .wl-item-btns .remove-btn{
    font-size: 16px;
  }
  .wishlist-section .wl-item-btns .mtc-btn{
    font-size: 16px;
  }
  .wishlist-section .wl-item-pricing .discount{
    font-size: 12px;
  }
}

@media(max-width:992px){
  .wishlist-section .wl-item-info{
    padding: 20px 0 20px 16px;
  }
  .wishlist-section .wl-item-info h5{
      font-size: 16px;
  }  
  .wishlist-section .wl-item-info h3{
      font-size: 20px;
  }
  .wishlist-section .wl-item-btns .remove-btn{
      font-size: 14px;
  }
  .wishlist-section .wl-item-btns .mtc-btn{
      font-size: 14px;
      padding: 4px 6px;
  }
}

@media(max-width:767px){
  .wishlist-section .wl-item-btns{
    padding: 0 0 4px 8px;
  }
  .wishlist-section .wl-item-btns .mtc-btn{
    margin: 0;
    float: right;
  }
  .wishlist-section .wishlist-item{
    margin-top: 8px;
  }
  .wishlist-section .wishlist-header{
    padding-bottom: 0;
}
}

@media(max-width:576px){
  .my-account .acc-grid .menu{
    display: none;
  }
  .my-account .my-acc-header{
    display: none;
  }
  .my-account .acc-grid{
    grid-template-columns: 100%;
  }
  .wishlist-section{
    margin: 0;
  }
  .wishlist-section .wishlist-item{
    border-radius: 8px;
  }
  .wishlist-section .wishlist-header h3{
    font-size: 28px;
    margin-bottom: 4px;
  }
  .wishlist-section .wl-item-info{
    padding: 6px 0 6px 8px;
  }
  .wishlist-section .wl-item-info h5{
    margin-bottom: 4px;
  }  
  .wishlist-section .wl-item-info h3{
    font-size: 18px;
    margin-bottom: 4px;
  }
  .wishlist-section .wl-item-pricing .discount{
    font-size: 12px;
  }
  .wishlist-section .wl-item-btns .mtc-btn{
    border-radius: 4px;
    margin: 0;
    margin-left: auto;
    padding: 4px 6px;
  }
}