body{
  font-family: 'Open Sans', sans-serif;
}
.navbar{
  background-color: #0a0e58;
  color: #ffffff;
}

.navbar-toggler{
  color: #ffffff;
}
.navbar img{
  width: 80%;
  margin: 0;
  padding: 0;
}

.navbar img.img-fluid{
  width: 308px;
}
.navbar .btn{
  background-color: #f1920c;
  border-radius: 16px;
  border-color: #F1920C;
  height: 32px;
  width: 80x;
}

.navbar .btn.btn-primary{
  height: 40px;
  width: 112px;
  font-weight: bold;
}

.navbar .nav-item{
  font-size: 24px;
  padding: 0 0 0 32px;
}

.navbar .navbar-collapse .shop-now:hover{
  color: white;
}

.navbar .icons a{
  color: white;
}

.navbar .icons a:hover{
  color: white;
}

.navbar .btn-group{
  background-color: #ffffff;
  color: black;
  vertical-align: middle;
  border-radius: 16px;
  margin-left: 64px;
  width: 70%;
}
@media (max-width: 1200px){
  .navbar .nav-item{
    font-size: 24px;
    padding: 0 0 0 24px;
  }
  .navbar .btn-group{
    margin-left: 32px;
  }
  }
  @media (max-width: 1050px){
    .navbar .btn-group{
      margin-left: 16px;
    }
  }

.navbar .btn.btn-light{
  background-color: #F1920C;
  border-radius: 0 16px 16px 0;
  color: #ffffff;
  height: 40px;
  width: 70px;  
  padding-left: 0;
  border: none; 
}

.navbar span{
  padding-top: 8px;
  padding-left: 16px;
}

.navbar input{
  border: 0;
  border-radius: 16px 0 0 16px;
  height: 40px;
  width: 100%;
  padding-left: 8px;
}

  @media(max-width: 992px){
    .navbar .web-logo{
      display: none;
    }
    .navbar input{
      width: 100%;
    }
    .navbar .btn-group{
      margin-left: 32px;
      width: 70%;
      margin-right: 16px;
    }
  }
.category-bar .grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 0;
  background-color: #0a0e58
}

.category-bar .grid-item {
  border-top: 1px solid #f1920c;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 14px;
  text-align: center;
 }
#dropdownMenuButton{
  background-color: #0a0e58;
  border: none;
  font-size: 14px;
  padding-top: 0;

}

#all-dropdownMenuButton{
  width: 80px;
  height: 40px;
  border-radius: 0 16px 16px 0;
}
@media(max-width:768px){
#shopnow{
  display: none;
}
}

@media(max-width:992px){
.category-bar{
  display: none;
}
}
@media(min-width:768px){
  #nav-item-search{
    display: none;
  }
}

::placeholder{
  color: black;
}

.mobile-logo img{
  width: 56px;
}


@media(min-width:993px){
.navbar .mobile-logo{
  display: none;
}
}
.view-more{
  color: #ffffff;
}
:hover.view-more{
  color:#f1920c;
}
:hover.btn.btn-primary{
  background-color: #f1920c;
  color: #0a0e58;
}
#hamburger{
  color: #ffffff;
}
span.navbar-toggler-icon{
  color: #ffffff;
}
.navbar-light .navbar-toggler {
  border: none;
}
span.hamburger-icon{
  padding: 0;
}
.btn-sidebar{
  display: none;
}
@media(max-width:767px){
  .btn-sidebar{
    display: inline-block;
  }
  .container-fluid{
    position: relative;
    min-height: 75px;
  }
  button#hamburger{
    position: absolute;
    left: 0;
    top: 35%;
  }
  button#hamburger:focus{
    outline: none;
  }
a.mobile-logo{
    height: 50px;
    position: absolute;
    top: 5%;
    left:45%;
  }
  .icons{
    position: absolute;
    right: 0;
  }
  .navbar .btn-group{
    display: none;
  }
  .btn-navbar{
    display: none;
  }
}
.navbar-brand.web-logo{
  padding: 0;
  margin: 0;
}
.modal-hamburger{
  background-color: #0a0e58;
}
@media(max-width:520px){
  .navbar a.mobile-logo{
    height: 50px;
    position: absolute;
    left:30%;
    bottom: 5%;
  }
}
.navbar .dropdown-item{
  overflow: hidden;
  color: #ffffff;
  background-color: #0a0e58;
}

.navbar .dropdown{
  position: relative;
  background-color: #0a0e58;
}

.navbar .dropdown div.dropdown-menu{
  color: #ffffff;
  background-color: #0a0e58;
  padding: 0;
  border: 2px solid #f1920c;
  }
 .category-bar .dropdown-item{
    overflow: hidden;
    color: #ffffff;
    background-color: #0a0e58;
  }

  .category-bar .dropdown{
    position: relative;
    background-color: #0a0e58;
  }

  .category-bar .dropdown div.dropdown-menu{
    color: #ffffff;
    background-color: #0a0e58;
    padding: 0;
    border: none
    }
a.view-more:hover{
  text-decoration: none;
}
#all-dropdownMenuButtonlist{
  border: none;
  background-color: #0a0e58;
  color: #ffffff;
  padding-bottom: 0;
}
.search-options{
  padding-top: 8px ;
  padding-left: 8px;
}
.search-options:hover{
    color: #F1920C;
    background-color: #ffffff;
}
#search-btn-mobile{
  background-color: #0A0E58;
  color: white;
  border: none;
}
#search-btn-mobile:focus{
  outline: none;
}
.search-bar{
  background-color: #0a0e58;
  border-top: 1px solid #f1920c;
  padding: 4px 16px;
}
.search-bar input{
  padding: 4px 8px;
  width: 80%;
  border: none;
}
.search-bar #all-dropdown-mobile{
  background-color: #f1920c;
  color: white;
  border-radius: 0 16px 16px 0;
  border: none;
  width: 100%;
}
.search-bar #all-dropdown-mobile:focus{
  outline: none;
  box-shadow: none;
}
.search-bar .btn-group{
  background-color: white;
  border-radius: 16px;
  padding-left: 8px;
  width: 100%;
}
.search-bar .btn-group span{
  padding-top: 5px;
}
.search-bar .dropdown .dropdown-menu{
  width: 220px;
  background-color: #0a0e58;
  right: 0;
  left: auto;
}
@media(min-width:577px){
  .search-bar{
    display: none;
  }
}

footer{
  background-color: #0A0E58;
}
.footer-main .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 16px;
}

@media (max-width: 992px){
  .footer-main .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
}
@media (max-width: 768px){
  .footer-main .grid-container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  .footer-main .grid-item {
  margin-left: 24px;
}

.footer-main .link-heading{
   color: #ffffff;
   font-size: 24px;
   font-weight: 600;
} 

.footer-main .grid-item a{
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 8px;
}

.footer-main p{
    color: #ffffff;
    font-size: 16px;
}


::placeholder{
    color: black;
}

.footer-main .btn-group{
    vertical-align: middle;
    width: 80%;
}
.footer-main .btn.btn-light{
    background-color: #F1920C;
    border-radius: 0 16px 16px 0;
    color: #ffffff;
    height: 40px;
    width: 40%;  
    padding-left: 0;
    border: none;
    
}

.footer-main h4{
  margin-top: 24px;
}
.footer-main input{
  padding-left: 8px;
  border: 0;
  border-radius: 16px 0 0 16px;
  height: 40px;
  width: 100%;
}
.footer-legal{
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px solid #F1920C;
}
.footer-legal a{
  color: #ffffff;
  font-size: 16px;
  margin-right: 24px;
  margin-left:24px;
}

@media (max-width: 768px){
.footer-legal{
  border-top: 1px solid #F1920C;
}
}

@media (max-width: 768px){
.footer-legal a{
  color: #ffffff;
  font-size: 9px;
  margin: auto;
}
}
#whatsapp-link{
  margin: 0;
  padding: 0;
}
.footer-main .modal-content{
  border: none;
}
.footer-main .modal-header{
  background-color: #0A0E58;
  color: #ffffff;
  border: 0;
  border-radius: 16px 16px 0 0;
}
.footer-main .modal-body{
  background-color: #F1920C;
  color: #ffffff;
  font-weight: bold;
  border-radius: 0 0 16px 16px;
}
.footer-main .modal-dialog{
  border: 5px solid #ffffff;
  border-radius: 16px;
}
.footer-main img{
  padding-right: 8px;
}
.email{
  background-color: #0A0E58;
  height: 32px;
}
.close span{
  color: #ffffff;
}
@media(min-width:768px){
.dropdown-search{
  display: none;
}
}
@media(max-width:767px){
.dropdown-search{
  display: inline-block;
  font-size: 24px;
}
.dropdown-search .dropdown-menu{
  margin-top: 24px;
  height: 80px;
  background-color: #0a0e58;
  color: #ffffff ;
}
.dropdown-search .dropdown-item{
  width: 100%;
}
.dropdown-menu .dropdown-item input{
  width: 100%;
  border-radius: 16px;
}
#nav-item-user{
  display: none;
}
}