body{
    font-family: open sans;
}
/* Order Details Section Starts Here  */
.order-details-section{
    padding: 16px 24px;
}
.back{
    font-size: 20px;
    color: #f1920c;
    padding-left: 16px;
  }

  .my-acc{
      background-color: #E6E6E6;
      padding-top: 8px;
  }

  ul.breadcrumb {
    padding-top: 4px;
    padding-right: 16px;
    list-style: none;
    margin: 0;
    background-color: #E6E6E6;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 16px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #666666;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

/* Order Details Header  */
.order-details-section .order-header h2{
    font-family: 'Acme', sans-serif;
}

.order-details-section .order-header .track-package{
    background-color: #f1920c;
    color: white;
    border: none;
}
.order-details-section .order-header .track-package:hover{
    color: white;
}
.order-details-section .order-header .header-info{
    background-color: #f0f0f0;
    color: black;
    padding: 0 4px;
    border-radius: 4px;
}
/* Order List  */
/* Order-Item Content  */
.order-details-section .order-list .order-item-content{
    margin-top: 16px;
    border-radius: 8px;
    box-shadow:-4px 4px 4px rgba(10,14,88,.2), 1px -1px 6px rgba(10,14,88,.1);
}
/* Order-Item Image  */
.order-details-section .order-item-content .order-item-img{
    padding-left: 8px;
}
/* Order-Item Details  */
.order-details-section .order-item-details{
    padding-left: 8px;
}
.order-details-section .order-item-details a{
    color: black;
} 
.order-details-section .order-item-details a h4{
    font-size: 24px;
    font-family: 'Acme', sans-serif;
}
/* Order-Iten Pricing  */
.order-details-section .order-item-content .order-item-pricing .order-item-price{
    font-size: 20px;
    font-weight: 600;
} 
.order-details-section .order-item-content .order-item-pricing .cut-price{
    color: #888888;
    padding-left: 4px;
    text-decoration: line-through;
}
.order-details-section .order-item-content .order-item-pricing .discount{
    color: #f1920c;
    font-weight: 600;
}
/* Order-Item Buttons  */
.order-details-section .order-item-btns{
    padding: 32px 8px;
}

.order-details-section .order-item-btns .buy-again{
    background-color: #f1920c;
    color: white;
    font-size: 16px;
    border: none;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
}
.order-details-section .order-item-btns .buy-again:hover{
    color: white;
}
.order-details-section .order-item-btns .buy-again:focus{
    box-shadow: none;
}

.order-details-section .order-item-btns .product-review{
    background-color: #f0f0f0;
    color: black;
    font-size: 16px;
    border: none;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-top: 8px;
}
.order-details-section .order-item-btns .product-review:hover{
    background-color: #f0f0f0;
    color: black;
}
.order-details-section .order-item-btns .product-review:focus{
    box-shadow: none;
}

.order-details-section .order-item-btns .return-item{
    background-color: #f0f0f0;
    color: black;
    border: none;
    font-size: 16px;
    margin-top: 8px;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
}
.order-details-section .order-item-btns .return-item:hover{
    background-color: #f0f0f0;
    color: black;
}
.order-details-section .order-item-btns .return-item:focus{
    box-shadow: none;
}

/* Order Summary Details  */
.order-details-section .order-summary-dets{
    border-radius: 12px;
    margin-left: 16px;
    box-shadow:-4px 4px 3px rgba(10,14,88,.2), 1px -1px 6px rgba(10,14,88,.1);
    padding-bottom: 8px;
    /* position: fixed ; */
}
/* Order Summary Header  */
.order-details-section .order-summary-dets .summary-header{
    background-color: #0A0E58;
    color: white;
    padding: 4px 0;
    text-align: center;
    border-radius: 12px 12px 0 0;
    font-family: 'Acme', sans-serif;
}
.order-details-section .order-summary-dets .summary-header h2{
    margin-bottom: 0;
}
/* Order Summary Details 01 */
.order-details-section .order-summary-dets .summary-dets-01{
    padding: 8px 8px 0px 8px;
    border-bottom: 1px solid #888888;
}
.order-details-section .order-summary-dets .summary-dets-01 p{
    margin-bottom: 8px;
}
/* Order Summary Details 02 */
.order-details-section .order-summary-dets .summary-dets-02{
    padding: 8px 8px 0px 8px;
    border-bottom: 1px solid #888888;
}
.order-details-section .order-summary-dets .summary-dets-02 span h6{
    font-weight: 400;
}
/* Order Summary Details 03  */
.order-details-section .order-summary-dets .summary-dets-03{
    padding: 8px 8px 0px 8px;
    border-bottom: 1px solid #888888;
}

.order-details-section .order-summary-dets .discount{
    color: #f1920c;
}

.order-details-section .rder-summary-dets .delivery-charges{
    margin-bottom: 0;
    margin-top: 6px;
}
/* Checkout Pricing Details Closure */
.order-details-section .order-summary-dets .summary-dets-closure{
    padding: 8px 8px 0px 8px;
    font-family: 'Acme', sans-serif;
}
/* End of Pricing Details  */

/* Responisveness */
@media(max-width:1200px){
    .order-item-content .order-item-details h5{
        font-size: 16px;
    }
    .order-item-content .order-item-details a h4{
        font-size: 20px;
    }
    .order-item-content .order-item-details .order-item-pricing .order-item-price{
        font-size: 16px;
    }
    .order-item-content .order-item-details .order-item-pricing .cut-price{
        font-size: 14px;
    }
    .order-item-content .order-item-details .order-item-pricing .discount{
        font-size: 14px;
    }
    .order-item-content .order-item-btns{
        padding: 24px 8px;
    }
    .order-item-content .order-item-btns .buy-again{
        font-size: 14px;
        padding: 4px 12px;
    }
    .order-item-content .order-item-btns .product-review{
        font-size: 14px;
        padding: 4px 12px;
    }
    .order-item-content .order-item-btns .return-item{
        font-size: 14px;
        padding: 4px 12px;
    }
}

@media(max-width:992px){
    .order-details-section{
        padding: 12px 16px;
    }
    .order-details-section .order-header h2{
        font-size: 24px;
    }
    .order-details-section .order-header .track-package{
        font-size: 14px;
        padding: 4px 8px;
    }
    .order-details-section .order-header .header-info{
        font-size: 14px;
    }
    .order-details-section .order-list .order-item-content{
        margin-top: 12px;
    }
    .order-item-content .order-item-details h5{
        font-size: 14px;
    }
    .order-item-content .order-item-details a h4{
        font-size: 18px;
        margin-bottom: 4px;
    }
    .order-item-content .order-item-details .order-item-pricing .order-item-price{
        font-size: 14px;
    }
    .order-item-content .order-item-details .order-item-pricing .cut-price{
        font-size: 12px;
    }
    .order-item-content .order-item-details .order-item-pricing .discount{
        font-size: 12px;
    }
    .order-item-content .order-item-btns{
        padding: 16px 4px;
    }
    .order-item-content .order-item-btns .buy-again{
        font-size: 12px;
        padding: 2px 4px;
    }
    .order-item-content .order-item-btns .product-review{
        font-size: 12px;
        padding: 2px 4px;
    }
    .order-item-content .order-item-btns .return-item{
        font-size: 12px;
        padding: 2px 4px;
    }
    .order-item-content .order-item-qty{
        font-size: 14px;
    }
    .order-details-section .order-summary-dets{
        border-radius: 8px;
    }
    .order-details-section .order-summary-dets .summary-header{
        border-radius: 8px 8px 0 0;
    }
    .order-summary-dets .summary-header h2{
        font-size: 24px;
    }
    .order-summary-dets .summary-dets-01 h5{
        font-size: 16px;
    }
    .order-summary-dets .summary-dets-01 p{
        font-size: 14px;
    }
    .order-summary-dets .summary-dets-02 h6{
        font-size: 14px;
        margin-bottom: 4px;
    }
    .order-summary-dets .summary-dets-02 span h6{
        font-size: 14px;
    }
    .order-summary-dets .summary-dets-03 h6{
        font-size: 14px;
    }
    .order-summary-dets .summary-dets-closure h4{
        font-size: 20px;
        margin-bottom: 0;
    }
}

@media(max-width:767px){
    .order-item-content .order-item-details h5{
        font-size: 20px;
    }
    .order-item-content .order-item-details a h4{
        font-size: 24px;
    }
    .order-item-content .order-item-details .order-item-pricing .order-item-price{
        font-size: 20px;
    }
    .order-item-content .order-item-details .order-item-pricing .cut-price{
        font-size: 16px;
    }
    .order-item-content .order-item-details .order-item-pricing .discount{
        font-size: 16px;
    }
    .order-item-content .order-item-btns{
        padding: 0px 8px 8px;

    }
    .order-item-content .order-item-btns .buy-again{
        font-size: 16px;
        padding: 4px 12px;
    }
    .order-item-content .order-item-btns .product-review{
        font-size: 16px;
        padding: 4px 12px;
        margin: 0;
        position: absolute;
        left: 45%;
    }
    .order-item-content .order-item-btns .return-item{
        font-size: 16px;
        padding: 4px 12px;
        float: right;
        margin: 0;
    }
    .order-details-section .order-summary-dets{
        margin: 8px 0;
    }
    .order-summary-dets .summary-header h2{
        font-size: 32px;
    }
    .order-summary-dets .summary-dets-01 h5{
        font-size: 20px;
    }
    .order-summary-dets .summary-dets-01 p{
        font-size: 16px;
    }
    .order-summary-dets .summary-dets-02 h6{
        font-size: 16px;
        margin-bottom: 4px;
    }
    .order-summary-dets .summary-dets-02 span h6{
        font-size: 16px;
    }
    .order-summary-dets .summary-dets-03 h6{
        font-size: 16px;
    }
    .order-summary-dets .summary-dets-closure h4{
        font-size: 24px;
        margin-bottom: 0;
    }
}


@media(max-width:576px){
    .order-details-header{
        display: none;
    }
    .order-details-section .order-header h2{
        font-size: 20px;
    }
    .order-details-section .order-header .track-package{
        font-size: 12px;
        padding: 2px 4px;
    }
    .order-details-section .order-header .header-info{
        font-size: 12px;
    }
    .order-details-section .order-list .order-item-content{
        margin-top: 12px;
    }
    .order-item-content .order-item-details h5{
        font-size: 12px;
        margin-bottom: 2px;
    }
    .order-item-content .order-item-details a h4{
        font-size: 16px;
        margin-bottom: 2px;
    }
    .order-item-content .order-item-details .order-item-pricing{
        margin-top: -8px;
    }
    .order-item-content .order-item-details .order-item-pricing .order-item-price{
        font-size: 12px;
    }
    .order-item-content .order-item-details .order-item-pricing .cut-price{
        font-size: 10px;
    }
    .order-item-content .order-item-details .order-item-pricing .discount{
        font-size: 10px;
    }
    .order-item-content .order-item-btns{
    }
    .order-item-content .order-item-btns .buy-again{
        margin: 0;
        font-size: 14px;
        padding: 2px 4px;
    }
    .order-item-content .order-item-btns .product-review{
        margin: 0;
        font-size: 14px;
        padding: 2px 4px;
    }
    .order-item-content .order-item-btns .return-item{
        margin: 0;
        font-size: 14px;
        padding: 2px 4px;
    }
    .order-item-content .order-item-qty{
        font-size: 12px;
    }
    .order-details-section .order-summary-dets{
        border-radius: 8px;
    }
    .order-details-section .order-summary-dets .summary-header{
        border-radius: 8px 8px 0 0;
    }
    .order-summary-dets .summary-header h2{
        font-size: 24px;
    }
    .order-summary-dets .summary-dets-01 h5{
        font-size: 16px;
    }
    .order-summary-dets .summary-dets-01 p{
        font-size: 14px;
    }
    .order-summary-dets .summary-dets-02 h6{
        font-size: 14px;
        margin-bottom: 4px;
    }
    .order-summary-dets .summary-dets-02 span h6{
        font-size: 14px;
    }
    .order-summary-dets .summary-dets-03 h6{
        font-size: 14px;
    }
    .order-summary-dets .summary-dets-closure h4{
        font-size: 20px;
        margin-bottom: 0;
    }
    .breadcrumb {
        display: none;
    }
}

@media(min-width:577px){
    .back{
        display: none;
    }
}

@media(max-width:370px){
    .order-item-content .order-item-btns .buy-again{
        font-size: 12px;
    }
    .order-item-content .order-item-btns .product-review{
        left: 42%;
        font-size: 12px;
    }
    .order-item-content .order-item-btns .return-item{
        font-size: 12px;
    }
}
