body {
  font-family: open sans;
}

.product-page-section{
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
}

.product-page-section h4{
  font-family: acme;
}


/* breadcrumbs */
ul.breadcrumb {
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
}

ul.breadcrumb li {
  display: inline;
  font-size: 16px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #666666;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .breadcrumb {
    display: none;
  }
}

/* breadcrumbs end here */



/* product info section*/

.prod-name{
  border-bottom: 1px solid black;
}

.product-info p {
  font-size: 16px;
  font-weight: 400;
}

.product-price {
  font-size: 24px;  
}

.cut-price {
  font-size: 16px;
  text-decoration: line-through;
}

.discount {
  font-size: 16px;
  font-weight: 700;
  color: #f1920c;
}

.prod-price{
  padding-bottom: 16px;
  border-bottom: 1px solid black;
}

.description{
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid black ;
}

.product-description{
  margin-bottom: 0;
}

/* product info section ends here*/


/* read more read less button */
#more {display: none;}

#myBtn{
  border: none;
  color: #f1920c;
  background: none;
  padding: 0;
  outline: none;
}

/* quantity buton, atc, atw*/

.product-quantity .btn {
  background-color: #f1920c;
  border: none;
}

.product-quantity {
  margin-top: 10px;
  margin-bottom: 10px;
}


.qty-btn {
  background-color: #f1920c;
  font-weight: 900; 
  color: #FFFFFF;
}

.form-control {
  width: 36px;
  display: inline-block;
  height: 36px;
  border: 1px solid #f1920c;
  text-align: center;
}

.btn-atc{
  background-color: #f1920c;
  color: #FFFFFF;
}

.btn-atw{
  background-color: #FFFFFF;
  color: #f1920c;
  border:1px solid #f1920c;
}

.btn-atc:hover {
  color: #0A0E58;
}

.btn-atw:hover {
  color: #0A0E58;
}

@media (max-width: 1024px){
  .btn-atc{
    font-size: 12px;
  }

  .btn-atw{
    font-size: 12px;
  }
}

@media (max-width: 768px){
  .btn-atc{
    font-size: 16px;
  }

  .btn-atw{
    font-size: 16px;
  }
}


/* quantity buton ends*/



/* scrollbar */
.individual-reviews{
  height: 550px;
  overflow: auto;
}


.individual-reviews::-webkit-scrollbar {
  width: 10px;
}

.individual-reviews::-webkit-scrollbar-track {
  background: #E6E6E6; 
}
 
.individual-reviews::-webkit-scrollbar-thumb {
  background: #0A0E58; 
}

.individual-reviews::-webkit-scrollbar-thumb:hover {
  background: #666666; 
}



/* customer reviews */

.iconify{
  color: #f1920c;  
}

.verified-product{
  display: none;
  width: max-content;
  height: max-content;
  color: #f1920c;
  font-size: 12px;
  }

.top-right{
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: #FFFFFF;
}

.iconify:hover + div.verified-product{
  display: inline-block;
}

.cust-rev p{
  margin-bottom: 8px;
}

.cust-rev {
  border-bottom: 1px solid black ;
}

.review{
  border-bottom: 1px solid black ;
  padding-top: 16px;
  position: relative;
}


@media (max-width: 992px) {
  .customer-review-section h4{
    margin-top: 8px;
}
}


.write-review textarea{
  width: 100%;
  border: 1px solid black;
  border-radius: 12px;
  padding: 12px;
  padding-top: 6px;
  outline: none ;
}

.submit-button{
  background: #f1920c;
  margin-bottom: 16px;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  outline: none;
}


.write-review{
  border-top: 1px solid black;
}

.product-rating{
  color: #f1920c;
}


/* ratingssss */
.rate {
   height: 46px;
  padding: 0;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}


/* product card.... similiar products */

.col-6.col-sm-6.col-md-4.col-lg-3.col-xl-3.product-card{
  margin-left:10px;
  margin-right:10px;
}

.product-card.m-2{
  box-shadow:-4px 4px 5px rgba(0,0,0,.2), 1px -1px 6px rgba(0,0,0,.1);
}

.product-card h6{
  font-size:12px;
  color:rgba(0,0,0,.6);
  font-family:open sans;
  font-weight:400
}

.product-card h5{
  font-size:14px;
  font-family:acme;
  margin-bottom:0
}

.product-card span{
  font-size:14px;
  font-family:open sans;
  font-weight:500
}

.product-card .btn:not(:disabled):not(.disabled){
  background-color:#f1920c;
  border:none
}

.product-card .cut-price{
  text-decoration:line-through;
  font-size:10px;
  color:rgba(0,0,0,.6)
}

.product-card .discount{
  font-size:12px;
  color:#f1920c
}

.product-card .product-rating{
  color:#f1920c
}

.product-card p{
  margin-bottom:0
}

@media(max-width: 992px){
  .carousel-at-lg{
    display: none;
  }
}

@media(max-width: 768px){
  .carousel-at-md{
    display: none;
  }
}

.carousel-btn{
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 16px;
  padding-top: 8px;
}

.carousel-control-prev {
  opacity: 0.9;
  transition: none;
}

.carousel-control-next{
  opacity: 0.9;
  transition: none;
}
.carousel-btn i{
  color: #f1920c;
  font-size: 24px;
}

.carousel-btn span{
  text-align: center;
}