body{
    font-family: open sans; 
    font-size: 16px;
    font-weight: 400;
    color: black;
}

.bdr-btm{
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.pad-top-btm{
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Sort and Filter  */
/* Sort and Filter Web  */

.store-page-section .sort-and-filter-bar{
    padding: 5px;
}

.store-page-section .sort-and-filter-bar .btn{
    border: 1px solid black;
    border-radius: 0;
}   

.filter-sidebar{
    
    margin-left: 16px;
    margin-right: 8px;
    padding-right: 8px;
    border-right: 1.5px solid rgba(0,0,0,.1);
}

.filter-sidebar h4{
    font-family: acme;
    font-size: 24px;
}

.filter-sidebar h3{
    font-family: acme;
    font-size: 32px;
}

.filter-sidebar .search-bar input{
    max-width: 206px;
}

.filter-sidebar .dropdown-menu{
    background-color: white;
    padding-top: 0;
}

.store-page-section #dropdownMenuButton{
    background-color: #f6f6f6;
}

/* Sort and Filter Web Resopnsive Adjustments  */
@media (max-width:991px){
    .filter-sidebar{
        display: none;
    }
}

.store-page-section .custom-range{
    width: fit-content;    
}

/* Sort and Filter Mobile  */
/* .store-page-section .s-and-f-bar-mobile{
    position: fixed;
} */

.store-page-section .s-and-f-bar-mobile .s-and-f-btn{
    font-family: open sans;
    font-size: 16px;
    font-weight: 400;
    color: black;
    background-color: white;
}
.text-rotate-90{
    transform: rotate(90deg);
}

.store-page-section .s-and-f-bar-mobile{
    background-color: white;
    /* padding-top: 80px; */
}
.dropdown-menu{
    width: 250px;
}

.discount-range-mobile{
    padding-left: 24px;
}
.s-and-f-bar-mobile .search-bar input{
    max-width: 150px;
}

/* Sort and Filter Mobile Responsive Adjustments  */
@media (min-width:992px){
    .s-and-f-bar-mobile{
        display: none;
    }
}

/* Breadcrumbs Web  */

.store-page-section .breadcrumb-web .breadcrumb {
    background-color: white;
    padding-bottom: 0;
}
  
.store-page-section .breadcrumb-web .breadcrumb-item {
    color: black;
}
  
.store-page-section .breadcrumb-web .breadcrumb-item span {
    color: black;
}
.store-page-section .breadcrumb-web .b-active{
    font-weight: 700;
}
.store-page-section .breadcrumb-web .sort-and-view{
    padding-top: 8px;
    display: inline-block;
}

.store-page-section .breadcrumb-web .view-options{
    font-size: 18px;
}

/* Breadcrumbs Web Responsive Adjustments  */
@media (max-width:992px){
    .breadcrumb-web{
        display: none;
    }
}

/* Breadcrumbs Mobile  */

.store-page-section .breadcrumb-mobile{
    font-size: 24px;
    font-family: acme;
    padding-top:8px;
}

/* Breadcrumbs Mobile Responsive Adjustments  */
@media (min-width:992px){
    .breadcrumb-mobile{
        display: none;
    }
}



/* Product Card  */

.col-6.col-sm-6.col-md-4.col-lg-3.col-xl-3.product-card{
    margin-left:10px;
    margin-right:10px;
}

/* Product Card Shadow  */
.product-card.m-2{
    box-shadow:-4px 4px 5px rgba(0,0,0,.2), 1px -1px 6px rgba(0,0,0,.1);
}

/* Product Card Fonts  */
.product-card h6{
    font-size:12px;
    color:rgba(0,0,0,.6);
    font-weight:400
}

.product-card h5{
    font-size:14px;
    font-family:acme;
    margin-bottom:0
}

/* Product Card Price Dets  */
.product-card span{
    font-size:14px;
    font-weight:500
}

.product-card .cut-price{
    text-decoration:line-through;
    font-size:10px;
    color:rgba(0,0,0,.6)
}

.product-card .discount{
    font-size:12px;
    color:#f1920c;
}

/* Product Card Buttons  */
.product-card .btn:not(:disabled):not(.disabled){
    background-color:#f1920c;
    border:none;
}

.product-card .btn:not(:disabled):not(.disabled):focus{
    box-shadow: 0px 0px 5px 2px rgba(241, 146, 12, 0.75);
}

.product-card .btn:not(:disabled):not(.disabled):hover{
    background-color: #fff;
    color: #f1920c;
    border: 2px solid #f1920c;
}

/* Product Card Rating and Description  */
.product-card .product-rating{
    color:#f1920c
}

.product-card p{
    margin-bottom:0
}

/* Product Card Animation  */
.product-card{
    transition: transform .2s;
}

.product-card:hover{
    transform: scale(1.05);
}

/* Page Number Bar  */

.store-page-nos{
    margin-top: 8px;
}
.store-page-nos li{
    border: none;
}

.store-page-nos .btn {
    border: 1px solid #000;   
    border-radius: 5px;
}

.store-page-nos a{
    border-radius: 5px;
    color: black;
}

.store-page-nos .active .page-link {
    background-color: #f1920c;
    border: none;

}

.store-page-nos .pagination .page-link:hover{
    color: #f1920c;
    background-color: white;
    border-color: #f1920c;
}

.page-link:focus{
    box-shadow: none;
}

.product-grid a:hover{
    text-decoration: none;
}
