.container{
    width: 40%;
    margin-bottom: 16px;
}
.svg{
    border: 1px solid black;
    padding: 8px;
    margin-top: 24px;
    width: 100%;
}
.signup{
    margin-top: 24px;
    border: 2px solid #0a0e58;
    padding: 16px;
    border-radius: 16px;
    color: #0a0e58;
    text-transform: capitalize;
}
.signup a{
    color: #0a0e58;
    text-decoration: underline;
}
.signup-form{
    color: #F1920C;
    font-weight: 600;
}
.signup .h6{
    color: #0a0e58;
}
.signup button{
    color:#0a0e58;
    background-color: #F1920C;
    border: none;
    width: 60%;
    margin-top: 8px;
    font-weight: 600;
}
.signup button:hover{
    color: #fff;
    background-color: #F1920C;
    text-decoration: none;
}
.signup-minor{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
}
.signup-minor a{
    font-weight: 800;
}
.signup-minor a:hover{
    color: #F1920C;
}
.footer-legal{
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 24px;
    border-top: 1px solid #a9a9a9;
  }
  .footer-legal a{
    color: #444444;  
    font-size: 16px;
    margin-right: 24px;
    margin-left:24px;
  }
@media(max-width:992px){
    .container{
        width: 50%;
    }
}

  @media(max-width:768px){
      .container{
          width: 60%;
      }
      .footer-legal a{
        margin-left: 8px;
        font-size: 12px;
    }
  }
  @media(max-width:576px){
      .container{
          width: 100%;
      }
      .footer-legal a{
          margin: auto;
          font-size: 8px;

      }
  }