.container{
    width: 40%;
    margin-bottom: 16px;
}
.svg{
    border: 1px solid black;
    padding: 8px;
    margin-top: 24px;
    width: 100%;
}
.signin{
    margin-top: 24px;
    border: 2px solid #0a0e58;
    padding: 16px;
    color: #F1920C;
    font-weight: 600;
    border-radius: 16px;
}
.signin .btn-primary{
    color: #0a0e58;
    background-color: #F1920C;
    border: none;
    font-weight: 600;
}
.signin .btn-primary:hover{
    color: #ffffff;
}
.signin a{
    color: #0a0e58;
}
.signin-minor .a-divider-break{
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
    margin-top: 16px;
}
.signin-minor .a-divider-break h5{
    line-height: 1;
    font-size: 12px;
    color:#444444;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 8px;
}
.signin-minor .a-divider-break:after{
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #a9a9a9;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}
.button-signup{
    background-color: #F1920C;
    color:#0a0e58;
    padding: 8px;
    font-weight: 600;
    border-radius: 8px;
}
.button-signup:hover{
    color: #fff;
    text-decoration: none;
}
.footer-legal{
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 24px;
  border-top: 1px solid #a9a9a9;
}
.footer-legal a{
  color: #444444;  
  font-size:16px;
  margin-right: 24px;
  margin-left:24px;
}
@media(max-width:992px){
    .container{
        width: 50%;
    }
}

@media(max-width:768px){
    .container{
        width: 60%; 
    }
    .button-signup{
        font-size: 16px;
    }
    .footer-legal a{
        margin-left: 8px;
        font-size:12px;
    }
}
@media(max-width:576px){
    .container{
        width: 100%;
    }
    .footer-legal a{
        margin: auto;
        font-size:8px;
    }
}